{% extends "base.html" %}


{% block content %}
<meta charset="UTF-8">
<h1 align="center"> Факты о играх</h1>
<p3>Факт №1:</p3>
<p>2/3 европейцев и американцев, в возрасте до 50 лет, хотя бы изредка играют в те, или иные компьютерные игры.
    В том числе и мобильные. Такая статистика, скорее всего справедлива и для стран СНГ.</p>
<p3>Факт №2:</p3>
<p>60% всех геймеров мужчины и соответственно 40% женщин. Так что девушки, если вы хотите найти себе парня, добро пожа
    ловать в онлайн игры. Дружить с девушкой, которая также увлекается видеоиграми - это мечта практически каждого
    парня геймера.</p>
<p3>Факт №3:</p3>
<p> Стоит также отметить, что мужчины, гораздо чаще женщин играют в сложные игры, которые
    занимают много времени и сил. В то время, как женщины, чаще играют в казуальные игры, то есть во всякие там Candy
    Crush Saga, Сокровища пиратов и прочие Fruit Ninja.</p>
<p3>Факт №4:</p3>
<p> Множественные исследования доказали, что играть в шутеры полезно, поскольку это помогает людям в будущем, быстрее
    и эффективнее действовать в тех ситуациях, когда требуется принять мгновенное и правильное решение. Люди, активно
    играющие в компьютерные игры, значительно лучше улавливают то, что происходит вокруг них. Такой опыт помогает им
    показывать лучшие результаты в тестах на внимательность, которые требуют быстро оценивать происходящее вокруг.
    Например, вождения машины и ориентирование в городе. Так же существует исследования, в результате которого ученые
    выяснили, что хирурги, которые регулярно играют в стрелялки, быстрее и эффективнее проводят сложные операции и
    делают меньше ошибок. Очень часто можно услышать, как не дальновидные люди говорят о том, что компьютерные игры
    плохо влияют на психику детей, делая их более жестокими и вообще отрешенными от реального мира. Это утверждение
    уже давно опровергнуто многими исследованиями и поэтому обращать внимание на подобные заявления, не стоит.</p>
<p3>Факт №5:</p3>
<p>Интересно не это, а то, что компьютерные игры не первые кого стали обвинять в том, что они портят детей.
    В восьмидесятых годах 20 века компьютерных игр еще практически не было, так как мало у кого вообще были компьютеры.
    Так вот, американская молодежь тех лет, очень активно увлекалась настольной игрой "Dungeons & Dragons", в которой
    нужно было сражаться друг с другом, используя различных персонажей, магию и монстров. Уже в те времена, находились
    уникумы, которые обвиняли эту настольную игру в том, что она портит детей, делая их жестокими, подлыми и склонными
    к криминалу. Никакими исследованиями, конечно же, негативного влияния от данной настольной игры (и других тоже) на
    детей выявлено не было.</p>
<p3>Факт №6:</p3>
<p>В 2011 году стало известно, что администрации нескольких китайских тюрем заставляли заключенных играть в
    World of Warcraft и зарабатывать там игровую валюту, ‘золото’. Это ‘золото’ начальники тюрем продавали другим
    игрокам за реальные деньги, зарабатывая на этом очень большие суммы. Китайских заключенных заставляли играть в
    WOW по 12 часов в день, чтобы зарабатывать необходимые ресурсы. Интересно то, что никакой ответственности
    начальники тюрем за это не понесли и отделались простыми штрафами. Администраторы тюрем заявили, что такой труд
    заключенных гораздо эффективнее чем работа на станках и он приносит в бюджет исправительных учреждений, гораздо
    больше денег.</p>
{% endblock %}