{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
    <br>
    <a href="http://127.0.0.1:5000/index_admin" >Вернуться на страницу администратора</a>
    <br>
    <h2>Загрузка файлов изображений для БД игры</h2>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
       <div class="form-group">
            <label for="photo">Выберите файл </label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}